<section>
  <div class="row">
    <div class="col-4 col-sm-3 col-md-3">
      <div class="d-flex">
        <button id="menu" type="button" class="btnJaune btn btn-display">
          <i class="fas fa-arrow-left" aria-hidden="true"></i>
          <a routerLink="../accueil" title="Retour">Retour</a>
        </button>
      </div>
    </div>
    <div class="col-8 col-sm-9 col-md-9">
      <h1>A propos de ...</h1>
    </div>
  </div>
  <div class="row m-2" id="mentions">
    <div class="shadows w-100 p-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
          <h3 class="d-flex justify-content-center">
            Depuis plus de 15 ans, nous mettons en relation des garages <br />
            de voitures d’occasions avec des clients potentiels.
          </h3>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-5 col-sm-5 col-lg-5 btn-light p-3 mt-3">
          <p class="d-flex textContenuColorBold justify-content-center">
            Notre expèrience
          </p>
          <p>
            La mise en relation de garages de voitures d’occasions avec des
            clients potentiels est notre mètier depuis plus de 15 ans.
          </p>
          <p>
            Nous avons déjà mis en relation plus de 200 garages proposant plus
            de 1000 annonces de ventes de voitures d’occassions pour une
            clientèle importante, diverses.
          </p>
        </div>
        <div class="col-5 col-sm-5 col-lg-5 btn-light p-3 mt-3 offset-2">
          <p class="d-flex textContenuColorBold justify-content-center">
            Centre’Auto’CCas en quelques dates ...
          </p>
          <p>
            Centre’Auto’Ccas a été fondée en 2000 par M. Lodevie père et fils,
            d’anciens garagistes, amateurs de voitures dans l’âme...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
