<section>
  <div class="row">
    <div class="col-4 col-sm-3 col-md-3">
      <div class="d-flex">
        <button id="menu" type="button" class="btnJaune btn btn-display">
          <i class="fas fa-arrow-left" aria-hidden="true"></i>
          <a routerLink="../accueil" title="Retour">Retour</a>
        </button>
      </div>
    </div>
    <div class="col-8 col-sm-9 col-md-9">
      <h1>Foire aux questions</h1>
    </div>
  </div>
  <div class="row m-2" id="mentions">
    <div class="shadows w-100 p-3">
      <div class="col-12 col-sm-12 col-md-12">
        <accordion [isAnimated]="oneAtATime" [closeOthers]="oneAtATime">
          <accordion-group
            heading="Auprès de qui doit on se tourner si une voiture nous intéresse ?"
            panelClass="customClass"
            [isOpen]="isFirstOpen"
          >
            Il vous suffit de nous contacter et nous ferons le lien avec le
            propriétaire de la voiture.
          </accordion-group>
          <br />
          <accordion-group
            heading="Si on veut acheter une voiture, quelle est la procèdure à suivre ?"
            panelClass="customClass"
          >
            <p>Pour acheter une voiture, merci de nous contacter.</p>
          </accordion-group>
          <br />
          <accordion-group
            heading="Quels sont les recours que l'on a droit ?"
            panelClass="customClass"
          >
            <p>
              Vous avez plusieurs recours. Pour plus d'informations veuillez
              nous contacter.
            </p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</section>
