<div *ngIf="isConnected === false; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">
      <img
        class="img-fluid"
        src="assets/img/logo-centre-auto-ccas.png"
        title="Logo de la société Centre Auto CCas"
        alt="Logo de la société Centre Auto CCas"
        width="200px"
        height="200px"
      />
    </a>

    <button
      class="navbar-toggler m-5"
      type="submit"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="show()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngClass]="classActive === true ? 'show' : 'notShow'"
      class="collapse navbar-collapse justify-content-center"
      id="navbarScroll"
    >
      <a
        [ngClass]="classActive === true ? 'show' : 'notShow'"
        class="btnClose"
        [routerLink]="['accueil']"
        (click)="close()"
        ><fa-icon [icon]="faTimes" size="2x"></fa-icon
      ></a>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {{ classAccueil }}"
            [routerLink]="['accueil']"
            (click)="close()"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{ classApropos }}"
            [routerLink]="['apropos']"
            (click)="close()"
            >A propos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{ classContact }}"
            [routerLink]="['contact']"
            (click)="close()"
            >Contact</a
          >
        </li>
        <li class="nav-item d-lg-none">
          <a
            class="nav-link"
            data-bs-toggle="modal"
            data-bs-target="#connexionModal"
            title="Me connecter"
            (click)="connexionModal.show(); close()"
            >Se connecter</a
          >
        </li>
      </ul>
    </div>
    <div class="d-lg-flex d-none">
      <button
        type="button"
        id="menu"
        class="btnRouge btn btn-display"
        (click)="connexionModal.show()"
      >
        <fa-icon [icon]="faUser" size="xs"></fa-icon> Mon compte
      </button>
    </div>
  </nav>

  <div
    class="modal fade modal_index"
    bsModal
    #connexionModal="bs-modal"
    [config]="{ backdrop: 'static' }"
    tabindex="-1"
    role="dialog"
    aria-labelledby="connexion-name"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="connexion-name" class="modal-title pull-left">
            Se connecter
          </h4>
          <button
            #fileInput
            type="button"
            class="close pull-right btn-close"
            aria-label="Close"
            (click)="connexionModal.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="login">
            <form
              [formGroup]="loginForm"
              class="login-container"
              (ngSubmit)="seConnecter()"
            >
              <div>
                <label for="username">
                  Login
                </label>
                <input
                  id="username"
                  type="text"
                  placeholder="Login"
                  formControlName="username"
                />
                <ul *ngIf="loginForm.controls.username.touched && !loginForm.controls.username.valid">
                  <li *ngIf="loginForm.controls.username.hasError('required')">
                    <font color="#e33826">Le login est requis</font>
                  </li>
                </ul>
              </div>
              <div>
                <label for="password">
                  Password
                </label>
                <input
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                />
                <ul *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid">
                  <li *ngIf="loginForm.controls.password.hasError('required')">
                    <font color="#e33826">Le mot de passe est requis</font>
                  </li>
                </ul>
              </div>
              <br/>
              <div>
                <input type="submit" value="Se connecter" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">
      <img
        class="img-fluid"
        src="assets/img/logo.png"
        title="Logo de la société"
        alt="Logo de la société"
        width="200px"
        height="200px"
      />
    </a>

    <button
      class="navbar-toggler m-5"
      type="submit"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="show()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngClass]="classActive === true ? 'show' : 'notShow'"
      class="collapse navbar-collapse justify-content-center"
      id="navbarScroll"
    >
      <a
        [ngClass]="classActive === true ? 'show' : 'notShow'"
        class="btnClose"
        [routerLink]="['accueil']"
        (click)="close()"
        ><fa-icon [icon]="faTimes" size="2x"></fa-icon
      ></a>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {{ classAccueil }}"
            [routerLink]="['accueil']"
            (click)="close()"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{ classApropos }}"
            [routerLink]="['apropos']"
            (click)="close()"
            >A propos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{ classContact }}"
            [routerLink]="['contact']"
            (click)="close()"
            >Contact</a
          >
        </li>
        <li *ngIf="roleUtilisateur!='ROLE_PROFESSIONNEL'" class="nav-item d-lg-none">
          <a class="nav-link" [routerLink]="['lesUsers']" (click)="close()"
          >Gérer Les Utilisateurs</a
          >
        </li>

        <li *ngIf="roleUtilisateur!='ROLE_PROFESSIONNEL'" class="nav-item d-lg-none">
          <a class="nav-link" [routerLink]="['lesStatistiques']" (click)="close()"
          >Les Statistiques</a
          >
        </li>



        <li *ngIf="roleUtilisateur=='ROLE_PROFESSIONNEL'" class="nav-item d-lg-none">
          <a class="nav-link" [routerLink]="['monCompte']" (click)="close()"
            >Gérer Mon compte</a
          >
        </li>
        <li *ngIf="roleUtilisateur=='ROLE_PROFESSIONNEL'" class="nav-item d-lg-none">
          <a class="nav-link" [routerLink]="['mesGarages']" (click)="close()"
            >Gérer Mes Garages
          </a>
        </li>
        <li *ngIf="roleUtilisateur=='ROLE_PROFESSIONNEL'" class="nav-item d-lg-none">
          <a class="nav-link" [routerLink]="['mesAnnonces']" (click)="close()"
            >Gérer Mes Annonces</a
          >
        </li>
        <li class="nav-item d-lg-none">
          <a
            class="nav-link"
            data-bs-toggle="modal"
            data-bs-target="#deconnexionModal"
            title="Me connecter"
            (click)="deconnexionModal.show(); close()"
            >Me déconnecter</a
          >
        </li>
      </ul>
    </div>
    <div
      class="
        d-lg-flex d-none
        justify-content-center
        align-items-center
        position-relative
      "
    >
      <button id="menu2" type="button" class="btnRouge2 btn btn-display">
        <fa-icon [icon]="faUser" size="1x"></fa-icon>
      </button>
     {{nomUtilisateur}} {{prenomUtilisateur}}
      <a
        [routerLink]="'.'"
        fragment="mon-bloc-1"
        data-js="hide"
        (click)="classActive2 === false ? show2() : close2()"
      >
        &nbsp;<fa-icon [icon]="faAngleDown" size="2x"></fa-icon
      ></a>
      <div
        id="mon-bloc-1"
        [ngClass]="classActive2 === true ? '-visible' : ''"
        class="hide-box shadows position-absolute translate-middle-x"
      >
        <a *ngIf="roleUtilisateur!='ROLE_PROFESSIONNEL'" (click)="close2()" class="nav-link" [routerLink]="['lesUsers']">
          Gérer Les Utilisateurs</a>
        <a *ngIf="roleUtilisateur!='ROLE_PROFESSIONNEL'" (click)="close2()" class="nav-link" [routerLink]="['lesStatistiques']">
          Les Statistiques</a>
        <a *ngIf="roleUtilisateur=='ROLE_PROFESSIONNEL'" (click)="close2()" class="nav-link" [routerLink]="['monCompte']">
          Gérer Mon Compte</a>
        <a *ngIf="roleUtilisateur=='ROLE_PROFESSIONNEL'" (click)="close2()" class="nav-link" [routerLink]="['mesGarages']">
          Gérer Mes Garages</a>
        <a  *ngIf="roleUtilisateur=='ROLE_PROFESSIONNEL'" (click)="close2()" class="nav-link" [routerLink]="['mesAnnonces']"
          >Gérer Mes Annonces</a
        >
        <a
          class="nav-link"
          data-bs-toggle="modal"
          data-bs-target="#deconnexionModal"
          title="Me déconnecter"
          (click)="deconnexionModal.show(); close2()"
          >Me déconnecter</a
        >
      </div>
    </div>
  </nav>

  <div
    class="modal fade modal_index"
    bsModal
    #deconnexionModal="bs-modal"
    [config]="{ backdrop: 'static' }"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deconnexion-name"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="deconnexion-name" class="modal-title pull-left">
            Se déconnecter
          </h4>
          <button
            #fileInput2
            type="button"
            class="close pull-right btn-close"
            aria-label="Close"
            (click)="deconnexionModal.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="login">
            <form class="login-container" (ngSubmit)="seDeconnecter()">
              <p>Voulez-vous vous déconnectez ?</p>
              <p>
                <input type="submit" value="Se déconnecter" />
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
