<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img
      class="img-fluid"
      src="assets/img/logo.png"
      title="Logo de la société"
      alt="Logo de la société"
      width="200px"
      height="200px"
    />
  </a>
  <button
    class="navbar-toggler m-5"
    type="submit"
    data-bs-toggle="collapse"
    data-bs-target="#navbarScroll"
    aria-controls="navbarScroll"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="show()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    [ngClass]="classActive === true ? 'show' : 'notShow'"
    class="collapse navbar-collapse justify-content-center"
    id="navbarScroll"
  >
    <a
      [ngClass]="classActive === true ? 'show' : 'notShow'"
      class="btnClose"
      [routerLink]="['accueil']"
      (click)="close()"
      ><fa-icon [icon]="faTimes" size="2x"></fa-icon
    ></a>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link {{ classAccueil }}"
          [routerLink]="['accueil']"
          (click)="close()"
          >Accueil</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {{ classApropos }}"
          [routerLink]="['apropos']"
          (click)="close()"
          >A propos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {{ classContact }}"
          [routerLink]="['contact']"
          (click)="close()"
          >Contact</a
        >
      </li>
      <li class="nav-item d-lg-none">
        <a
          class="nav-link"
          data-bs-toggle="modal"
          data-bs-target="#connexionModal"
          title="Me connecter"
          (click)="connexionModal.show(); close()"
          >Se connecter</a
        >
      </li>
    </ul>
  </div>
  <div class="d-lg-flex d-none">
    <button
      type="button"
      id="menu"
      class="btnRouge btn btn-display"
      (click)="connexionModal.show()"
    >
      <fa-icon [icon]="faUser" size="xs"></fa-icon> Mon compte
    </button>
  </div>
</nav>

<div
  class="modal fade"
  bsModal
  #connexionModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="connexion-name"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="connexion-name" class="modal-title pull-left">Se connecter</h4>
        <button
          type="button"
          class="close pull-right btn-close"
          aria-label="Close"
          (click)="connexionModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          onsubmit="return verif(this);"
          method="post"
          action="connexion.php"
        >
          <div class="mb-3">
            <input
              name="login"
              placeholder="Votre login"
              type="text"
              class="form-control"
              id="recipient-login"
            />
          </div>
          <div class="mb-3">
            <input
              name="password"
              placeholder="Votre password"
              type="password"
              class="form-control"
              id="recipient-password"
            />
          </div>
          <button type="submit" class="btnRouge btn btn-display">
            Valider
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
