<section>
  <div class="row">
    <div class="col-4 col-sm-3 col-md-3">
      <div class="d-flex">
        <button id="menu" type="button" class="btnJaune btn btn-display">
          <i class="fas fa-arrow-left" aria-hidden="true"></i>
          <a [routerLink]="['../../mesAnnonces']" title="Retour">Retour</a>
        </button>
      </div>
    </div>
    <div class="col-8 col-sm-9 col-md-9">
      <h1>{{ tabAnnonce[0].nom }}</h1>
    </div>
  </div>


  <!-- carroussel -->
  <div class="row" *ngIf="tabAnnonce[0].photos.length>0">
    <div class="col-12 col-md-12 mt-5 mb-3">
      <div class="shadows">
        <div class="row p-3">
          <div class="col-2 col-md-2 text-right mb-5" *ngFor="let photos of tabAnnonce[0].photos">
              <p><a
                class="btnClose"
                (click)="open(photos.id, photos.nomPhotos)"
              ><fa-icon [icon]="faTimes" size="2x"></fa-icon
              ></a></p>
              <img
                src="{{photos.pathPhotos}}"
                class="zoom img-fluid"
                width="151"
                height="113"
                alt="img"
              />
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- formulaire ajout image -->

  <div class="row">
    <div class="col-12 col-md-12 mt-5 mb-3">
      <div class="shadows">
        <div class="row p-3">
            <div class="col-12 col-md-12 text-left mb-5">
              <form [formGroup]="photoForm" (ngSubmit)="submit()">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    formControlName="name"
                    id="name"
                    type="text"
                    class="form-control">

                </div>
                <ul *ngIf="photoForm.controls.name.touched && !photoForm.controls.name.valid">
                  <li *ngIf="photoForm.controls.name.hasError('required')">
                    Name is required
                  </li>
                </ul>


                <div class="form-group">
                  <label for="file">File</label>
                  <input
                    formControlName="file"
                    id="file"
                    type="file"
                    class="form-control"
                    (change)="onFileChange($event)">
                </div>

                <ul *ngIf="mauvaisImage">
                  <li>
                      {{mauvaisImage}}
                  </li>
                </ul>

                <ul *ngIf="photoForm.controls.file.touched && !photoForm.controls.file.valid">
                  <li *ngIf="photoForm.controls.file.hasError('required')">
                    Image file is required
                  </li>
                </ul>


                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
                <button class="btn btnRouge" type="submit">Submit</button>
              </form>
            </div>

        </div>
      </div>
    </div>
  </div>


  <!-- informations-->
  <div class="row">
    <div class="col-12 col-md-12 mt-5 mb-3">
      <div class="shadows">
        <div class="row p-3">
          <div class="col-4 col-md-4 textContenuBold">
            {{ tabAnnonce[0].modele.nomModele }}
            {{ tabAnnonce[0].modele.Marque.nomMarque }}
          </div>
          <div class="col-4 col-md-4 textContenuitalique text-center">
            Réf. {{ tabAnnonce[0].refAnnonce }}
          </div>
          <div class="textContenuColorBold col-4 col-md-4 text-right">
            {{ tabAnnonce[0].prix }} € TTC
          </div>
        </div>
        <div class="row p-3">
          <div
            class="
              col-4 col-md-4
              d-flex
              align-content-between
              justify-content-start
              align-items-center
            "
          >
            <img
              alt="km"
              src="../../assets/img/Orion_time-limit.png"
              width="64px"
              height="64px"
            />
            <span class="ps-3 textContenu2">
              {{ tabAnnonce[0].kilometrage }} km</span
            >
          </div>
          <div
            class="
              col-4 col-md-4
              d-flex
              align-content-between
              justify-content-center
              align-items-center
            "
          >
            <img
              alt="carburant"
              src="../../assets/img/Orion_gas-station.png"
              width="64px"
              height="64px"
            />
            <span class="ps-3 textContenu2">
              {{ tabAnnonce[0].carburant.NomCarburant }}</span
            >
          </div>
          <div
            class="
              col-4 col-md-4
              d-flex
              align-content-between
              justify-content-end
              align-items-center
            "
          >
            <img
              alt="carburant"
              src="../../assets/img/Orion_birthday.png"
              width="64px"
              height="64px"
            />
            <span class="ps-3 textContenu2">
              {{ tabAnnonce[0].anneeCirculation }}</span
            >
          </div>
        </div>
        <div class="row p-3">
          <p class="textcontenu">
            {{ tabAnnonce[0].descriptionLongue }}
          </p>
        </div>
        <div class="row position-relative mb-3">
          <div
            class="
              col-12 col-md-12
              position-absolute
              top-0
              start-50
              translate-middle
              text-center
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>


<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  name="annonce-read"
><p style="color: white">Loading...</p>
</ngx-spinner>
