<form
[formGroup]="monCompteForm"
class="login-container"
(ngSubmit)="valider()"
>

<div class="row">
  <div class="col-6">
    <p
  [ngClass]="{
    'has-error': isSubmitted && formControls.nomUtilisateur.errors
  }"
>
  <input
    type="text"
    placeholder="Nom de l'utilisateur"
    formControlName="nomUtilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.nomUtilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.nomUtilisateur.errors.required">
    <font color="#e33826">Le nom utilisateur est requis</font>
  </div>
</div>
  </div>
  <div class="col-6">
    <p
    [ngClass]="{
      'has-error': isSubmitted && formControls.prenomUtilisateur.errors
    }"
  >
    <input
      type="text"
      placeholder="Prénom de l'utilisateur"
      formControlName="prenomUtilisateur"
    />
  </p>
  
  <div
    *ngIf="isSubmitted && formControls.prenomUtilisateur.errors"
    class="help-block"
  >
    <div *ngIf="formControls.prenomUtilisateur.errors.required">
      <font color="#e33826">Prénom requis</font>
    </div>
  </div>
  </div>
</div>

<p
  [ngClass]="{
    'has-error': isSubmitted && formControls.adresse1Utilisateur.errors
  }"
>
  <input
    type="text"
    placeholder="Adresse 1 de l'utilisateur"
    formControlName="adresse1Utilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.adresse1Utilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.adresse1Utilisateur.errors.required">
    <font color="#e33826">L'adresse 1 est requis</font>
  </div>
</div>


<p
  [ngClass]="{
    'has-error': isSubmitted && formControls.adresse2Utilisateur.errors
  }"
>
  <input
    type="text"
    placeholder="Adresse 2 de l'utilisateur"
    formControlName="adresse2Utilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.adresse2Utilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.adresse2Utilisateur.errors.required">
    <font color="#e33826">L'adresse 2 est requis</font>
  </div>
</div>

<p
  [ngClass]="{
    'has-error': isSubmitted && formControls.adresse3Utilisateur.errors
  }"
>
  <input
    type="text"
    placeholder="Adresse 3 de l'utilisateur"
    formControlName="adresse3Utilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.adresse3Utilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.adresse3Utilisateur.errors.required">
    <font color="#e33826">L'adresse 3 est requis</font>
  </div>
</div>

<p
  [ngClass]="{
    'has-error': isSubmitted && formControls.cpUtilisateur.errors
  }"
>
  <input
    type="text"
    placeholder="Code postal de l'utilisateur"
    formControlName="cpUtilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.cpUtilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.cpUtilisateur.errors.required">
    <font color="#e33826">Le code postal est requis</font>
  </div>
</div>

<p
  [ngClass]="{
    'has-error': isSubmitted && formControls.villeUtilisateur.errors
  }"
>
  <input
    type="text"
    placeholder="Ville de l'utilisateur"
    formControlName="villeUtilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.villeUtilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.villeUtilisateur.errors.required">
    <font color="#e33826">La ville est requis</font>
  </div>
</div>

<p
  [ngClass]="{
    'has-error': isSubmitted && formControls.telUtilisateur.errors
  }"
>
  <input
    type="tel"
    placeholder="Téléphone de l'utilisateur"
    formControlName="telUtilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.telUtilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.telUtilisateur.errors.required">
    <font color="#e33826">Le téléphone est requis</font>
  </div>
</div>

<p
  [ngClass]="{
    'has-error': isSubmitted && formControls.emailUtilisateur.errors
  }"
>
  <input
    type="email"
    placeholder="Email de l'utilisateur"
    formControlName="emailUtilisateur"
  />
</p>

<div
  *ngIf="isSubmitted && formControls.emailUtilisateur.errors"
  class="help-block"
>
  <div *ngIf="formControls.emailUtilisateur.errors.required">
    <font color="#e33826">L'émail est requis </font>
  </div>
</div>




















<p>
  <input type="submit" value="Sauvegarder" />
</p>
</form>
