<section>
  <div class="row">
    <div class="col-4 col-sm-3 col-md-3">
      <div class="d-flex">
        <button id="menu" type="button" class="btnJaune btn btn-display">
          <i class="fas fa-arrow-left" aria-hidden="true"></i>
          <a routerLink="../accueil" title="Retour">Retour</a>
        </button>
      </div>
    </div>
    <div class="col-8 col-sm-9 col-md-9">
      <h1>Mentions lègales</h1>
    </div>
  </div>

  <div class="row m-2" id="mentions">
    <div class="shadows w-100 p-3">
      <div class="col-12 col-sm-12 col-md-12">
        <h2>Identité</h2>
        <p>Nom du site web : Centre’Auto’Ccas</p>
        <p>Adresse : https://www.centreautoccas.fr</p>
        <p>Propriétaire : Franck Lodevie</p>
        <p>
          Responsable de publication : Franck Lodevie |
          <a routerLink="../contact" title="Contacter nous">Contacter</a>
        </p>
        <p>
          Conception et réalisation : Les Pros du Web -
          <a
            href="mailto:contact@LesProsduWeb.fr"
            title="Contacter les pros du web"
            >contact@LesProsduWeb.fr</a
          >
        </p>
        <p>
          Animation : Les Pros du Web -
          <a
            href="mailto:contact@LesProsduWeb.fr"
            title="Contacter les pros du web"
            >contact@LesProsduWeb.fr</a
          >
        </p>
        <p>Hébergement : OVH – 2 rue Kellermann 59100 Roubaix 1007</p>

        <h2>Personne morale</h2>

        <p>
          Centre’Auto’Ccas – SARL au capital de 25 000 euros - RCS ST 497 553 71
        </p>
        <p>Technopôle – 42000 Saint Etienne</p>
        <p>
          <a href="tel:+33477749207">04 77 74 92 07</a> -
          <a title="Contacter nous" href="mailto:contact@centreautoccas.fr"
            >contact@centreautoccas.fr</a
          >
        </p>

        <h2>Conditions d’utilisation</h2>

        <p>
          L’utilisation du présent site implique l’acceptation pleine et entière
          des conditions générales d’utilisation décrites ci-après.
        </p>
        <p>
          Ces conditions d’utilisation sont susceptibles d’être modifiées ou
          complétées à tout moment.
        </p>
        <h2>Informations</h2>

        <p>
          Les informations et documents du site sont présentés à titre
          indicatif, ne revêtent pas un caractère exhaustif, et ne peuvent
          engager la responsabilité du propriétaire du site.
        </p>
        <p>
          Le propriétaire du site ne peut être tenu responsable des dommages
          directs et indirects consécutifs à l’accès au site.
        </p>

        <h2>Interactivité</h2>
        <p>
          Les utilisateurs du site peuvent éventuellement y déposer du contenu,
          apparaissant sur le site dans des espaces dédiés (notamment via les
          commentaires). Le contenu déposé reste sous la responsabilité de leurs
          auteurs, qui en assument pleinement l’entière responsabilité
          juridique.
        </p>
        <p>
          Le propriétaire du site se réserve le droit de retirer sans préavis et
          sans justification tout contenu déposé par les utilisateurs qui ne
          satisferait pas à la charte déontologique du site ou à la législation
          en vigueur.
        </p>
        <h2>Propriété intellectuelle</h2>

        <p>
          Sauf mention contraire, tous les éléments accessibles sur le site
          (textes, images, graphismes, logo, icônes, sons, logiciels, etc.)
          restent la propriété exclusive de leurs auteurs, en ce qui concerne
          les droits de propriété intellectuelle ou les droits d’usage.
          <a [routerLink]="'.'" fragment="1"><sup>1</sup></a>
        </p>
        <p>
          Toute reproduction, représentation, modification, publication,
          adaptation de tout ou partie des éléments du site, quel que soit le
          moyen ou le procédé utilisé, est interdite, sauf autorisation écrite
          préalable de l’auteur.<a [routerLink]="'.'" fragment="2"
            ><sup>2</sup></a
          ><a [routerLink]="'.'" fragment="3"><sup>3</sup></a>
        </p>
        <p>
          Toute exploitation non autorisée du site ou de l’un quelconque des
          éléments qu’il contient est considérée comme constitutive d’une
          contrefaçon et peut être poursuivie en justice.
          <a [routerLink]="'.'" fragment="4"><sup>4</sup></a>
        </p>
        <p>
          Les marques et logos reproduits sur le site sont déposés par les
          sociétés qui en sont propriétaires.
        </p>
        <h2>Liens</h2>

        <h3>Liens sortants</h3>
        <p>
          Le propriétaire du site décline toute responsabilité et n’est pas
          engagé par le référencement via des liens hypertextes, de ressources
          tierces présentes sur le réseau Internet, tant en ce qui concerne leur
          contenu que leur pertinence.
        </p>

        <h3>Liens entrants</h3>
        <p>
          Le propriétaire du site autorise les liens hypertextes vers l’une des
          pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre
          et soient présentés de manière non équivoque afin d’éviter :
        </p>
        <ul>
          <li>
            tout risque de confusion entre le site citant et le propriétaire du
            site
          </li>
          <li>
            ainsi que toute présentation tendancieuse, ou contraire aux lois en
            vigueur.
          </li>
        </ul>
        <p>
          Le propriétaire du site se réserve le droit de demander la suppression
          d’un lien s’il estime que le site source ne respecte pas les règles
          ainsi définies.
        </p>
        <h2>Confidentialité</h2>

        <p>
          Tout utilisateur dispose d’un droit d’accès, de rectification et
          d’opposition aux données personnelles le concernant, en effectuant sa
          demande écrite et signée, accompagnée d’une preuve d’identité.
          <a [routerLink]="'.'" fragment="5"><sup>5</sup></a
          ><a [routerLink]="'.'" fragment="6"><sup>6</sup></a
          ><a [routerLink]="'.'" fragment="7"><sup>7</sup></a
          ><a [routerLink]="'.'" fragment="8"><sup>8</sup></a>
        </p>
        <p>
          Le site ne recueille pas d’informations personnelles, et n’est pas
          assujetti à déclaration à la CNIL.<a [routerLink]="'.'" fragment="9"
            ><sup>9</sup></a
          >
        </p>

        <h2>Crédits</h2>

        <p>
          Les photos, logos, icônes ont la propriété de la société
          Centre’Auto’Ccas
        </p>

        <p>
          Mentions légales fournies par WebExpress – Version 1.5 – Utilisation
          libre sous Licence Creative Commons CC BY-NC-ND 3.0 FR /
          creativecommons.org
        </p>

        <ol>
          <li id="1">
            Articles L111-1 et suivants du Code de la Propriété Intellectuelle
            du 1er juillet 1992
          </li>
          <li id="2">Article 41 de la loi du 11 mars 1957</li>
          <li id="3">
            Article L. 226-13 du Code pénal et la Directive Européenne du 24
            octobre 1995
          </li>
          <li id="4">
            Articles L.335-2 et suivants du Code de Propriété Intellectuelle
          </li>
          <li id="5">
            Loi n° 78-87 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6
            août 2004, relative à l’informatique, aux fichiers et aux libertés
          </li>
          <li id="6">
            Articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à
            l’informatique, aux fichiers et aux libertés
          </li>
          <li id="7">
            Loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars
            1996 relative à la protection juridique des bases de données
          </li>
          <li id="8">Loi n° 2004-801 du 6 août 2004</li>
          <li id="9">
            Article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance
            dans l’économie numérique
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
