<form (ngSubmit)="onSubmit()" #rechercheForm="ngForm">
  <div class="row m-2 p-2">
    <div class="col-12 col-sm-4 col-md-4">
      <label for="marque">Marque : </label>
      <select
        id="marque"
        name="marque"
        content-type="choices"
        trigger="true"
        target="modele"
        aria-label="marque"
        class="shadows form-control form-select"
        (change)="onMarqueChanged($event)"
        [(ngModel)]="marque"
      >
        <option value="0">Toutes les marques</option>
        <option *ngFor="let m of tabMarques" [value]="m.idMarque">
          {{ m.nomMarque }}
        </option>
      </select>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
      <label for="modele">Modèle : </label>
      <select
        id="modele"
        name="modele"
        content-type="choices"
        trigger="true"
        aria-label="modele"
        class="shadows form-control form-select"
        [disabled]="disabled"
        [(ngModel)]="modele"
      >
        <option value="0">Tous les modèles</option>
        <option *ngFor="let mo of tabModelesFiltrer" value="{{ mo.idModele }}">
          {{ mo.nomModele }}
        </option>
      </select>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
      <label for="carburant">Carburant : </label>
      <select
        id="carburant"
        name="carburant"
        content-type="choices"
        trigger="true"
        aria-label="carburant"
        class="shadows form-control form-select"
        [(ngModel)]="carburant"
      >
        <option value="0">Tous les carburants</option>
        <option *ngFor="let c of tabCarburants" value="{{ c.idCarburant }}">
          {{ c.nomCarburant }}
        </option>
      </select>
    </div>
  </div>
  <div class="row m-2 p-2">
    <div class="col-12 col-sm-4 col-md-4">
      <label for="kilometrage">Kilometrage : </label>
      <select
        id="kilometrage"
        name="kilometrage"
        content-type="choices"
        trigger="true"
        aria-label="kilometrage"
        class="shadows form-control form-select"
        [(ngModel)]="kilometrage"
      >
        <option value="0">Tous les kilomètrages</option>
        <option *ngFor="let m of tabKilometrage" [value]="m.nomKilometrage">
          < {{ m.nomKilometrage }}
        </option>
      </select>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
      <label for="anneeCirculation">Année de circulation : </label>
      <select
        id="anneeCirculation"
        name="anneeCirculation"
        content-type="choices"
        trigger="true"
        aria-label="anneeCirculation"
        class="shadows form-control form-select"
        [(ngModel)]="anneeCirculation"
      >
        <option value="0">Tous les années de circulation</option>
        <option
          *ngFor="let a of tabAnneeCirculation"
          [value]="a.nomAnneeCirculation"
        >
          {{ a.nomAnneeCirculation }} - {{ a.nomAnneeCirculation + 5 }}
        </option>
      </select>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
      <label for="prixVente">Prix de vente : </label>
      <select
        id="prixVente"
        name="prixVente"
        content-type="choices"
        trigger="true"
        aria-label="prixVente"
        class="shadows form-control form-select"
        [(ngModel)]="prixVente"
      >
        <option value="0">Tous les prix de vente</option>
        <option *ngFor="let p of tabPrixVente" [value]="p.nomPrixVente">
          < {{ p.nomPrixVente }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div
      class="
        marginbottom
        col-12 col-sm-12 col-md-12
        text-center
        align-self-center
      "
    >
      <button
        type="submit"
        class="btnJaune btn btn-display"
        [disabled]="!rechercheForm.form.valid"
      >
        <fa-icon [icon]="faSearch" size="xs"></fa-icon> <span> Recherche</span>
      </button>
    </div>
  </div>
</form>
