<div class="container m-4 ">
  <button id="menu" type="button" class="btnJaune btn btn-display">
    <i class="fas fa-arrow-left" aria-hidden="true"></i>
    <a [routerLink]="['../mesAnnonces']" title="Retour">Retour</a>
  </button>
  <div class="mt-3 p-3 shadows">
    <form
      [formGroup]="annonceForm"
      class="login-container"
      (ngSubmit)="valider()"
    >
      <div class="row">
        <div class="col-6">
          <label for="nom">Nom : </label>
          <input id="nom"
                 type="text"
                 placeholder="Nom de l'annonce"
                 formControlName="nom"
          >
          <ul *ngIf="annonceForm.controls.nom.touched && !annonceForm.controls.nom.valid">
            <li *ngIf="annonceForm.controls.nom.hasError('required')">
              <font color="#e33826">Le nom est requis</font>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <label for="prix">Prix : </label>
          <input id="prix"
                 type="number"
                 placeholder="Prix de l'annonce"
                 formControlName="prix"
                 min="0"
                 max="250000"
          >

          <ul *ngIf="annonceForm.controls.prix.touched && !annonceForm.controls.prix.valid">
            <li *ngIf="annonceForm.controls.prix.hasError('required')">
              <font color="#e33826">Le prix est requis</font>
            </li>
            <li *ngIf="annonceForm.controls.prix.hasError('min')">
              <font color="#e33826">Minimum required prix is {{minNum}}.</font>
            </li>
            <li *ngIf="annonceForm.controls.prix.hasError('max')">
              <font color="#e33826">Max required prix is {{maxNum}}.</font>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="description">Description : </label>
          <textarea
                 id="description" formControlName="description"
                 rows="10" cols="50">
            Desription de l'annonce
          </textarea>
          <ul *ngIf="annonceForm.controls.description.touched && !annonceForm.controls.description.valid">
            <li *ngIf="annonceForm.controls.description.hasError('required')">
              <font color="#e33826">La description est requise</font>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="kilometrage">Kilomètrage : </label>
          <input id="kilometrage"
                 type="number"
                 min="0"
                 max="250000"
                 placeholder="Kilomètrage de l'annonce"
                 formControlName="kilometrage"
          >
          <ul *ngIf="annonceForm.controls.kilometrage.touched && !annonceForm.controls.kilometrage.valid">
            <li *ngIf="annonceForm.controls.kilometrage.hasError('required')">
              <font color="#e33826">Le kilomètrage est requis</font>
            </li>
            <li *ngIf="annonceForm.controls.kilometrage.hasError('min')">
              <font color="#e33826">Minimum required kilometrage is {{minNum}}.</font>
            </li>
            <li *ngIf="annonceForm.controls.kilometrage.hasError('max')">
              <font color="#e33826">Max required kilometrage is {{maxNum}}.</font>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <label for="anneeeCirculation">Année de circulation : </label>
          <input id="anneeCirculation"
                 type="number"
                 min="1975"
                 max="2030"
                 placeholder="Année de circulation"
                 formControlName="anneeCirculation"
          >
          <ul *ngIf="annonceForm.controls.anneeCirculation.touched && !annonceForm.controls.anneeCirculation.valid">
            <li *ngIf="annonceForm.controls.anneeCirculation.hasError('required')">
              <font color="#e33826">L'année de circulation est requis</font>
            </li>
            <li *ngIf="annonceForm.controls.anneeCirculation.hasError('min')">
              <font color="#e33826">Minimum required anneeCirculation is {{minDate}}.</font>
            </li>
            <li *ngIf="annonceForm.controls.anneeCirculation.hasError('max')">
              <font color="#e33826">Max required anneeCirculation is {{maxDate}}.</font>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="marque">Marque : </label>
          <select
            id="marque"
            name="marque"
            content-type="choices"
            trigger="true"
            aria-label="marque"
            class="shadows form-control form-select"
            formControlName="marque"
            (change)="onMarqueChanged($event)"

          >
            <option value="0">Toutes les marques</option>
            <option *ngFor="let m of tabMarques" value="{{m.id}}">
              {{ m.nomMarque }}
            </option>
          </select>
          <ul *ngIf="annonceForm.controls.marque.touched && !annonceForm.controls.marque.valid">
            <li *ngIf="annonceForm.controls.marque.hasError('required')">
              <font color="#e33826">La marque est requise</font>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <label for="modele">Modèle : </label>
          <select
            id="modele"
            name="modele"
            content-type="choices"
            trigger="true"
            aria-label="modele"
            class="shadows form-control form-select"
            formControlName="modele"
            [disabled]="disabled"
          >
            <option value="0">Tous les modèles</option>
            <option *ngFor="let mo of tabModelesFiltrer" value="{{ mo.id }}">
              {{ mo.nomModele }}
            </option>
          </select>
          <ul *ngIf="annonceForm.controls.modele.touched && !annonceForm.controls.modele.valid">
            <li *ngIf="annonceForm.controls.modele.hasError('required')">
              <font color="#e33826">Le modèle est requis</font>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="carburant">Carburant : </label>
          <select
            id="carburant"
            name="carburant"
            content-type="choices"
            trigger="true"
            aria-label="carburant"
            class="shadows form-control form-select"
            formControlName="carburant"
          >
            <option value="0">Tous les carburants</option>
            <option *ngFor="let c of tabCarburants" value="{{ c.id }}">
              {{ c.NomCarburant }}
            </option>
          </select>
          <ul *ngIf="annonceForm.controls.carburant.touched && !annonceForm.controls.carburant.valid">
            <li *ngIf="annonceForm.controls.carburant.hasError('required')">
              <font color="#e33826">Le carburant est requis</font>
            </li>
          </ul>
        </div>

        <div class="col-6">
          <label for="garage">Garage : </label>
          <select
            id="garage"
            name="garage"
            content-type="choices"
            trigger="true"
            aria-label="garage"
            class="shadows form-control form-select"
            formControlName="garage"
          >
            <option value="0">Tous les garages</option>
            <option *ngFor="let g of tabGarages" value="{{ g.id }}">
              {{ g.nom }}
            </option>
          </select>
          <ul *ngIf="annonceForm.controls.garage.touched && !annonceForm.controls.garage.valid">
            <li *ngIf="annonceForm.controls.garage.hasError('required')">
              <font color="#e33826">Le garage est requis</font>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="p-3 marginbottom2 col-12 text-center align-self-center">
          <input type="submit" class="btn btnRouge" value="Ajouter" />
        </div>
      </div>
    </form>
