
<div class="mt-3 h-100 shadows w-100 p-3">
  <div class="row height-10">
    <div class="col-8 col-sm-8 col-md-8">{{ uneAnnonce.nom }}</div>
    <div class="textContenuColor col-sm-4 col-md-4 text-right">
      {{ uneAnnonce.prix }} € TTC
    </div>
  </div>
  <div class="row height-80">
    <div class="col-4 col-sm-4 col-md-4 overflow-hidden">
      <img
        src="{{uneAnnonce.photos[0].pathPhotos}}"
        class="zoom img-fluid"
        width="151"
        height="113"
        alt="{{uneAnnonce.photos[0].pathPhotos}}"
      />
    </div>
    <div class="col-8 col-sm-8 col-md-8 text-left textContenu">
      <p>
        <img
          alt="Kilomètrage"
          src="assets/img/kilometrage-voiture.png"
          width="24px"
          height="24px"
        />
        <span class="ps-3 textContenu2">{{ uneAnnonce.kilometrage }} km</span>
      </p>
      <p>
        <img
          alt="Nom du carburant"
          src="assets/img/carburant-voiture.png"
          width="24px"
          height="24px"
        />
        <span class="ps-3 textContenu2">{{
          uneAnnonce.carburant.NomCarburant
        }}</span>
      </p>
      <p>
        <img
          alt="Année de circulation"
          src="assets/img/annee-circulation-voiture.png"
          width="24px"
          height="24px"
        />
        <span class="ps-3 textContenu2">{{ uneAnnonce.anneeCirculation }}</span>
      </p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 text-left textContenu">
      <p>{{ uneAnnonce.descriptionCourte }}</p>
    </div>
  </div>
  <div class="row height-10">
    <div class="col-12 col-sm-12 col-md-12 text-right">
      <button type="submit" class="btnJaune btn btn-display">
        <a [routerLink]="['../fiche', uneAnnonce.id]" title="Plus info"
          >Plus info</a
        >
      </button>
    </div>
  </div>
</div>
