<div class="container m-4 ">
  <button id="menu" type="button" class="m-2 btnJaune btn btn-display">
    <i class="fas fa-arrow-left" aria-hidden="true"></i>
    <a [routerLink]="['../mesGarages']" title="Retour">Retour</a>
  </button>
  <div class="mt-3 p-3 shadows">
    <form
      [formGroup]="garageForm"
      class="login-container"
      (ngSubmit)="valider()"
    >

      <div class="row">
        <div class="col-6">

          <label for="nom">
            Nom
          </label>
          <input id="nom"
                 type="text"
                 placeholder="Nom du garage"
                 formControlName="nom"
          >

          <ul *ngIf="garageForm.controls.nom.touched && !garageForm.controls.nom.valid">
            <li *ngIf="garageForm.controls.nom.hasError('required')">
              <font color="#e33826">Le nom est requis</font>
            </li>
          </ul>

        </div>

        <div class="col-6">

          <label for="telephone">
            Téléphone
          </label>
          <input id="telephone"
                 type="tel"
                 placeholder="Votre téléphone"
                 formControlName="telephone"
          >

          <ul *ngIf="garageForm.controls.telephone.touched && !garageForm.controls.telephone.valid">
            <li *ngIf="garageForm.controls.telephone.hasError('required')">
              <font color="#e33826">Le numéro de téléphone est requis</font>
            </li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <label for="adresse1">
            Adresse1
          </label>
          <input id="adresse1"
                 type="text"
                 placeholder="Votre adresse 1"
                 formControlName="adresse1"
          >

          <ul *ngIf="garageForm.controls.adresse1.touched && !garageForm.controls.adresse1.valid">
            <li *ngIf="garageForm.controls.adresse1.hasError('required')">
              <font color="#e33826">L'adresse 1 est requis</font>
            </li>

          </ul>


        </div>
        <div class="col-6">

          <label for="adresse2">
            Adresse 2
          </label>
          <input id="adresse2"
                 type="text"
                 placeholder="Votre adresse 2"
                 formControlName="adresse2"
                 width="250px"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="adresse3">
            Adresse 3
          </label>
          <input id="adresse3"
                 type="text"
                 placeholder="Votre adresse 3"
                 formControlName="adresse3"
          >
        </div>
        <div class="col-6">

          <label for="cp">
            Code postal
          </label>
          <input id="code postal"
                 type="text"
                 placeholder="Votre code postal"
                 formControlName="codePostal"
          >

          <ul *ngIf="garageForm.controls.codePostal.touched && !garageForm.controls.codePostal.valid">
            <li *ngIf="garageForm.controls.codePostal.hasError('required')">
              <font color="#e33826">Le code postal est requis</font>
            </li>

          </ul>

        </div>


      </div>
      <div class="row">
        <div class="col-6">

          <label for="nomVille">
            Nom de la ville
          </label>
          <input id="nomVille"
                 type="text"
                 placeholder="Votre nom de ville"
                 formControlName="nomVille"
          >

          <ul *ngIf="garageForm.controls.nomVille.touched && !garageForm.controls.nomVille.valid">
            <li *ngIf="garageForm.controls.nomVille.hasError('required')">
              <font color="#e33826">le nom de la ville est requis</font>
            </li>

          </ul>

        </div>



      </div>
      <div class="row">
        <div class="p-3 marginbottom2 col-12 text-center align-self-center">
          <input type="submit" class="btn btnRouge" value="Ajouter" />
        </div>
      </div>

    </form>
  </div>
</div>


