<section>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <h1>Rechercher une voiture d'occassion</h1>
    </div>
  </div>
</section>
<section class="researchBackground">
  <app-form-recherche
    [tabAnnonces]="tabAnnonces"
    [mode]="mode"
    (rechercheFormulaire)="rechercheFormulaire($event)"
    (rechercheFormulaireMode)="rechercheFormulaireMode($event)"
    (rechercheFormulaireUrl)="rechercheFormulaireUrl($event)"
    (rechercheFormulaireNbEnregistrement)="rechercheFormulaireNbEnregistrement($event)"
    [tabKilometrage]="tabKilometrage"
    [tabAnneeCirculation]="tabAnneeCirculation"
    [tabPrixVente]="tabPrixVente"
  ></app-form-recherche>
</section>
<section>
  <div class="row mt-4">
    <div
      class="textContenuBold text-center align-self-center col-12 col-md-12 m-4"
    >
      {{ nbTotalEnregistrement }} annonces
    </div>
  </div>
  <div class="row mt-4">
    <app-annonce
      class="textContenuBold col-12 col-sm-6 col-md-6 mb-4"
      *ngFor="let a of tabAnnoncesFilter"
      [uneAnnonce]="a"
    >
    </app-annonce>
  </div>
</section>

<section>
  <div class="row g-4 m-auto">
    <div
      class="col-12 col-md-6 d-flex justify-content-start align-items-center"
    >

    </div>
    <div
      id="navigationfooter"
      class="col-12 col-md-6 pt-4 d-flex justify-content-end align-items-center"
    >
      <div class="row">
        <div class="col-xs-12 col-12">
         <pagination
            [totalItems]="nbTotalEnregistrement"
            [itemsPerPage]="resultatParPage"
            (pageChanged)="pageChanged($event, url, mode)"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
          ></pagination>
        </div>
      </div>
    </div>
  </div>
</section>
